{% include 'header.html' %}
<header id="place-photos">
    <img  src="{{city.image_link}}">
    <div class="gradient">
    <div class="container">
    <!-- #star -->
    <!-- = link_to city_place_toggle_favorites_path(@place.city, @place), class: is_favorite(@place), method: :put do -->
    <!-- %i.fa.fa-star.fa-3x -->
    <div id="title">
    <div class="green" data-toggle="popover" data-content="I have not been here yet" ><i class="bi bi-suit-heart"></i>|
        {{cafe.overall_rating}}% Laptop Friendly</div>
    <h1>Coffee Cuprum</h1>
    </div>
    </div>
    <a id="fullscreen-gallery" title="See more photos" target="_blank" href="{{city.google_maps_location}}"><i class="bi bi-image"></i>
    </a></div>
</header>
{% include 'footer.html' %}